
 <form action="/add_post" method="post" class="form--inline">
     <div>
         <input type="text" name="start" class="datepicker1">
     </div>
     <div>
         <input type="text" name="end"  class="datepicker2">
     </div>
     <div>
         <button class="btn btn-default" type="submit" value="Add">Print data</button>
     </div>

</form>